apscheduler
Automat==0.8.0
chardet
docker
requests==2.20.0
pysyncobj>=0.2.3
subprocess32
scrapy
service-identity
six>=1.12
sqlalchemy
sqlalchemy-migrate
tornado>=6.0,<7.0
virtualenv
w3lib
pyaml
pymysql
namegenerator==1.0.6
